<h1>bloblobloblo</h1>
<% @probings.each do |probing| %>
  <%= probing.quantity %>
  <%= probing.created_at %>
<% end %>

<%= high_chart_globals(@chart_globals) %>
<%= high_chart("some_id", @chart) %>

<%= link_to "+", new_probing_path %>
