
<div class="form">
  <%= simple_form_for @probing do |f| %>
    <%= f.input :hydratation, placeholder: "500 cl", inline_label:"hydratation" %>
    <%= f.input :quantity, placeholder: "200 cl" %>
    <%= f.input :quality, collection: ["good", "bad"] %>
    <%= f.input :fleed, collection: 0..3 %>
    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>
<%= link_to "<< Back to last(6)", root_path %>


