<h1>
  <%= current_user.first_name || "first_name" %>
  <%= current_user.last_name || "last_name" %>
</h1>
<hr>
<h2>
  Sexe : <%= current_user.genre || "Sexe" %>
  <br>
  Age : <%= current_user.age || "Age" %>
  <br>
  Pathologie : <%= current_user.pathology || "Pathology" %>
</h2>
<hr>
<h3>
  Téléphone : <%= current_user.phone_number || "phone_number"%>
  <br>
  E-mail : <%= current_user.email || "email" %>
</h3>
<hr>
<div class="pdf_chart" style="width: 900px;">
  <%= high_chart("current_user", @chart) %>
</div>
